<% if model.errors.any? %>
	<h3 class="error"><%= pluralize(model.errors.count, "error") %> prohibited this obj from being saved:</h3>
 	<ul class="error">
    	<% model.errors.full_messages.each do |message| %>
	 		<li class="error-message"><%= message %></li>
		<% end %>
	</ul>
<% end %>